img{
  max-width: 100%;
justify-content: center;
display: block;
height: auto;
margin:0 auto;
}

body{
  font-family: "Arial", sans-serif;
  text-align: centre;
  color: #333;
  margin: 0;
}

h1{
   font-size: 2rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}
@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 0.8rem;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}
li {
  margin: 16px 0;
}
.caption{
  font-weight: normal;
  font-size: 12px;
}
blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}